/* */ 
 
.header{
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
    z-index: 999;
    background-color: #fff; 
    border: 1px solid green; 
    box-shadow: 0 0 10px 5px rgb(0 0 0/5%);
} 
 
.header__container{ 
    width: 100%; 
    max-width: 1152px; 
    margin: 0 auto; 
    border: 1px solid yellow;
}  
 
.header__top{ 
  display: flex; 
  justify-content: space-between; 
  align-items: flex-end; 
  height: 80px; 
  padding-bottom: 15px;
}

.header__menu-btn{
    position: relative;
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    background-color: transparent;
    transition: all 0.25s; 
    border: 1px solid rebeccapurple;
}

.row-top,
.row-middle,
.row-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #dc0510;
    transform: rotate(0);
    transition: all 0.5s;
}

.row-middle {
    transform: translateY(9px);
}

.row-bottom {
    transform: translateY(17px);
}

.menu__btn--open { 

    .row-top {
        transform: rotate(45deg) translateY(10px) translateX(10px);
    }

    .row-middle {
        display: none;
    }

    .row-bottom {
        transform: rotate(-45deg) translateY(10px) translateX(-10px);
    }
}  
 
.header__logo{ 
    border: 1px solid fuchsia; 
    position: relative; 
    max-width: 285px; 
    height: 70px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    overflow: hidden;
}  
 
.header__brand{ 
   width: 78px; 
   height: 23px; 
   background-color: #dc0510; 
   color:#fff; 
   margin: 0 auto; 
   border-radius: 0 0 7px 7px; 
   font-size: 16px; 
   font-weight: 800;  
   text-align: center;
}
  
.header__user-nav{ 
    border: 1px solid salmon;  
    width: 100%; 
    max-width: 107px; 
    display: flex; 
    justify-content: space-between;  
    align-items: flex-end;
}

.header__serch-img{  
    width: 26px; 
    height: 26px;
}  
 
.header__live-wrapper{  
    position: relative;
    height: 14px; 
    border: 1px solid green; 
    font-size: 9px; 
    font-weight: 800; 
} 
 
.header__blink{ 
    content: "";
    display: block;
    margin: 0 auto;
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    background-color:#dc0510;  
    position: absolute; 
    top: -17px;
    left: 5px; 
    animation: blinker 2s linear infinite;
} 
 
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
.menu{
    display: block; 
    background-color: #f4f4f4;
} 
 
 
  
.elite-title{ 
    margin-top: 107px;
}